.pet
    padding: 40px 20px
.form-pet
    display: flex
    align-items: center
    justify-content: center
    &__container
        position: relative
        min-height: 140px
        margin-bottom: 95px
        width: 280px

.inputs-switch
    display: flex
    align-items: center
    justify-content: space-between
    padding: 0 15px
    & label
        font-weight: 300
        font-size: 18px
